.pgination_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    margin-bottom: 10rem;
    margin-top: 5rem;
}
.list_pages_link {
    display: flex;
    flex-direction: row;
}
.links {
    display: flex;
    margin: auto;
}
.link {
    /* height: 45px;
    width: 45px; */
    font-size: 20px;
    color: #666666;
    background-color: #f2f2f2;
    border-radius: 6px;
    cursor: pointer;
    padding: 20px;
}
.link {
    font-size: 12px;
    color: #666666;
    background-color: #f2f2f2;
    border-radius: 6px;
    cursor: pointer;
    padding: 20px;
    margin-left: 10px;
    padding: 21px 20px;
}

/* .pagination_wrappper {
    display: flex;
    padding: 10px;
    background: azure;
    border-radius: 5px;
} */
.pagination_wrappper {
    display: flex;
    padding: 10px -2px;
    background: #adadad;
    border-radius: 5px;
}
.prev_button {
    padding: 20px;
    font-weight: 900;
    opacity: 0.6;
}
.next_button {
    padding: 20px;
    font-weight: 900;
    opacity: 0.6;
}
.active_page {
    color: white !important;
    background: rgb(6,150,215) !important;
}

.link {
    font-size: 12px;
    color: #666666;
    background-color: #f2f2f2;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 900;
    padding: 20px;
    margin-left: 10px;
    padding: 12px 15px;
    height: -moz-fit-content;
    height: fit-content;
}