.work_experience{

}
.company_name {
    font-weight: 700;
    font-size: 12px;
    margin-top: 4px;
}
.company_title {
    font-weight: 200;
}
li.task {
    font-weight: 100;
}
.company_duration {
    font-size: 10px;
    font-style: italic;
    margin-top: 4px;
}
.chips {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vw;
  }
@media screen and (max-width: 480px) {
    .company_title {
        font-weight: 200;
        font-size: small;
    }
    .tasks {
        font-size: 14px;
    }
  }
  @media screen and (min-width: 768px) {
    .chips {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0vw;
    }
  }

