/* 
.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
    margin-top: 32px;
    margin-right: 32px;
    padding: 32px;
    box-shadow: 2px 2px 4px rgb(16 16 16 / 42%);
    border-radius: 20px;
    width: 20%;
    height: 1000px;
} */

.belly_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.belly_wrapper {
    width: 1600px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.belly_content_border{
    padding: 14px 0;
    background: #f5f1fc;
}