.homepage_list_projects {
    margin: 100px 0 100px 0;
    /* padding-top: 30vw; */
}
.homepage {
    margin: 0 5% 0 5%;
    background-color: rgb(24 34 44);
}
.homepage_title_text {
    font-size: xx-large;
    font-weight: 200;
}
.homepage_intro_text {
    font-size: x-large;
    font-weight: 300;
}
.homepage_header {
    display: flex;
    justify-content: space-between;
    margin: 2% 0 2% 0;
    font-weight: 900;
}
.homepage_symlinks {
    display: flex;
    width: 25%;
    justify-content: space-between;
    color: white;
}

.homepage_intro_text {
    font-size: x-large;
    font-weight: 300;
    margin: 2% 0 2% 0;
    color: white;
}
.homepage_content {
    margin: 10% 0 0 0;
    display: flex;
    flex-direction: column;
}
.homepage_list_projects_title_text {
    color: white;
    font-size: 20px;
    font-weight: 200;
}
.homepage_name {
    color: white;
}
p {
    height: 1vw;
    float: left;
    margin-right: 0.3em;
    margin-top: 0px;
    font-size: .5vw;
  }
  b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 3vw;
  }
  span1 {
   display: inline-block;
  color: #60b2df;
  position: relative;
  white-space: nowrap;
  width: 70vw;
  font-size: 2.6vw;
  top: 0;
  left: 0;
  -webkit-animation: move 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;

  }
  
  @keyframes move {
  0%  { top: 0px; }
  20% { top: -3.5vw; }
  40% { top: -6.5vw; }
  60% { top: -9.5vw; }
  80% { top: -12.5vw; }
  }

.homepage_crowsel_text_static_text{
    font-size: 3vw;
    font-weight: 600;
    color: white;
    margin-bottom: 1.5vw;
}

  /* @keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }*/

  .card:hover {
    background-color: #126da5;
}

/* .homepage_list_blogs_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

  
.homepage_list_blogs_title_text{
    color: white;
    font-size: 20px;
    font-weight: 200;
}

@media screen and (max-width: 480px) {
    .homepage_intro_text {
        font-size: 11px;
        font-weight: 300;
        margin: 2% 0 2% 0;
        color: white;
    }
    .homepage_crowsel_text_static_text {
        font-size: 3vw;
        font-weight: 600;
        color: white;
        margin-bottom: -6.5vw;
    }
    .homepage_list_projects_title_text {
        color: white;
        font-size: 20px;
        font-weight: 200;
    }
    .company_title {
        font-weight: 200;
        font-size: small;
    }
    .homepage {
        margin: 12% 5% 0 5%;
        background-color: rgb(24 34 44);
    }
    .homepage_list_blogs_cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 15vw;
    }
    .homepage_title_text {
        margin-top: 40px;
    }
    .homepage_list_projects {
        /* margin: 100px 0 100px 0; */
        padding-top: 15vw;
    }
    
  }

  @media (min-width: 481px) and (max-width: 768px) {
    .homepage_list_blogs_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
    }
    .vertical_card {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 16px 0 16px 0;
        display: flex;
        background-color: #09476d;
        flex-direction: column;
    }
    .vertical_card-description {
        color: white;
        font-size: 3vw;
        margin-bottom: 2vw;
    }
    .homepage {
        margin: 12% 5% 0 5%;
        background-color: rgb(24 34 44);
    }
    .homepage_list_blogs_cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 15vw;
    }
    .homepage_list_projects {
        /* margin: 100px 0 100px 0; */
        padding-top: 15vw;
    }
}

@media screen and (min-width: 768px) {
    .homepage {
        margin: 0 10% 0 10%;
        background-color: rgb(24 34 44);
    }
    .homepage_list_blogs_innner_wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .homepage_crowsel_text_static_text {
        font-size: 2vw;
        font-weight: 600;
        color: white;
        margin-bottom: 1.5vw;
    }
    span1 {
        display: inline-block;
        color: #60b2df;
        position: relative;
        white-space: nowrap;
        width: 70vw;
        font-size: 2vw;
        top: 0;
        left: 0;
        -webkit-animation: move 15s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 2s;
    }
  }