 .card {
    display: block;
    width: 28%;
    height: 311px;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: bottom;
    box-sizing: border-box;
    padding: 23px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    box-shadow: none;
    transition: box-shadow .2s ease-in-out;
    text-decoration: none;
    color: inherit;
    margin: 0 40px 50px;
}
 .card :hover {
     background-color: #f4d5ff;
 }