.title_text {
    font-size: xx-large;
    font-weight: 200;
}
.intro_text {
    font-size: x-large;
    font-weight: 300;
}

.symlinks {
  display: flex;
  width: 35%;
  justify-content: space-between;
  color: white;
}
.symlinks li {
  list-style-type: none;
  cursor: pointer;
}
.name {
    color: white;
}
.header_divider{
    background-color: rgb(24 34 44);
    color: white;
    margin: 0;
}
.header_wrapper {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    background-color: rgb(24 34 44);
    margin: 0 15% 0 15%;
    padding: 15px 0 15px 0;
}
.close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    margin-right: 18px;
  }
  
  .close_button:hover {
    color: #ccc;
  }
/* @media only screen and (max-width: 484px) {
    .symlinks {
        display: none;
    }
} */
.header_menu_icon {
    color: #fff;
    cursor: pointer;
}
@media only screen and (min-width: 360px) and (max-width: 768px) {
    .symlinks {
        display: none;
    }
    hr.header_divider {
        display: none;
    }
    .header_wrapper_outer {
        position: fixed;
        width: 100%;
        background-color: rgb(24, 34, 44);
        z-index: 1000;
        box-shadow: 0px 0px 8px rgba(0,0,0,.6);
    }
    .header_wrapper {
        display: flex;
        justify-content: space-between;
        font-weight: 900;
        background-color: rgb(24 34 44);
        margin: 0 8% 0 8%;
        padding: 15px 0 15px 0;
    }
    .menu {
        background: rgb(24, 34, 44);
        /* height: 100vh; */
        width: 49vh;
        opacity:0; 
        position: fixed;
        visibility: hidden;
        transition: all 0.25s ease;
        transform: translateY(-50%);
        top: 0;
        box-shadow: 0px 0px 8px rgba(0,0,0,.6);
        a {
          color: #fff;
          text-decoration: none;
          display: block;
          padding: 20px;
        }
      
        ul {
          padding: 0;
          margin: 0;
      
          li {
            font-size: 16px;
            border-bottom: 0.1px solid #3a5a6c;
            transition: all 0.25s ease;
            animation: fadeInRight .25s ease forwards;
            opacity:.8;
            /* transition: all 0.25s ease; */
            background: rgb(24, 34, 44);
            cursor: pointer;
      
            &:hover {
              opacity: 0.8;
              transition: all 0.25s ease;
              background: rgb(37 49 61);
              cursor: pointer;
              font-weight: 700;
            }
          }
        }
      }
}
@media only screen and (min-width: 768px) {
    .header_menu_icon {
        display: none;
    }
}

.menu {
    background: rgb(24, 34, 44);
    /* height: 100vh; */
    width: -webkit-fill-available;
    opacity:0; 
    position: fixed;
    visibility: hidden;
    transition: all 0.25s ease;
    transform: translateY(-50%);
    top: 0;
    a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 20px;
    }
  
    ul {
      padding: 0;
      margin: 0;
  
      li {
        font-size: 16px;
        border-bottom: 0.1px solid #3a5a6c;
        transition: all 0.25s ease;
        animation: fadeInRight .25s ease forwards;
        opacity:.8;
        /* transition: all 0.25s ease; */
        background: rgb(24, 34, 44);
        cursor: pointer;
  
        &:hover {
          opacity: 0.8;
          transition: all 0.25s ease;
          background: rgb(37 49 61);
          cursor: pointer;
          font-weight: 700;
        }
      }
    }
  }
  
  .active {
    opacity:1;
    visibility: visible;
    transition: all 0.25s ease;
    transform: translateY(0);
    z-index: 1;
  }
  
  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

  .menu ul {
    margin-top: 40px;
  }

  .close_button :hover{
    background-color: #6519c1;
  }
  .header_wrapper_outer {
    position: fixed;
    width: 100%;
    background-color: rgb(24, 34, 44);
    z-index: 1000;
}