Card.css
.vertical_card {
  width: 32%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px 0 16px 0;
  display: flex;
  background-color: #09476d;
  flex-direction: column;
  height: 55vw;
}

.vertical_card {
  width: 32%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px 0 16px 0;
  display: flex;
  background-color: #09476d;
  flex-direction: column;
  height: 46vw;
}

.vertical_card_img {
  width: 100%;
  /* height: 20vw; */
  object-fit: cover;
  background-color: #fff;
}
  

  .vertical_card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
}
  
  .vertical_card-title {
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: white;
  }
  
.vertical_card-description {
  color: white;
  font-size: 12px;
  margin-bottom: 2vw;
  font-weight: 200;
}

.vertical_card_chips {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8vw;
}
  
  .chip {
    background-color: #09609a;
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: 0.8rem;
  }
  .vertical-image-container{
    width: 100%;
  }
  /* .vertical_card_chips {
    margin-top: 100px;
} */

.vertical_card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 480px) {
  .vertical_card {
    width: 90vw;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px 0 16px 0;
    display: flex;
    background-color: #09476d;
    flex-direction: column;
    height: max-content;

  }
  p.vertical_card-description {
    font-size: 3vw;
}
.vertical_card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  min-width: 35vh;
  /* margin-top: 72px; */
}
.vertical_card_chips {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15vw;
}
}

@media (min-width: 481px) and (max-width: 768px) {
  .chip {
    background-color: #09609a;
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: 0.8rem;
  }
  .vertical_card-title {
    font-size: 4vw;
    margin-bottom: 8px;
    color: white;
}
.vertical_card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px 0 16px 0;
  display: flex;
  background-color: #09476d;
  flex-direction: column;
  height: max-content;
}
.vertical_card-description {
  color: white;
  font-size: 3vw;
  /* margin-bottom: 2vw; */
}
.vertical_card_chips {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15vw;
}
  }



  @media screen and (min-width: 768px) {
    /* .vertical_card {
      width: 32%;
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: 16px 0 16px 0;
      display: flex;
      background-color: #09476d;
      flex-direction: column;
      height: 38vw;
  }
  .vertical_card_chips {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vw;
}
  .chip {
    background-color: #09609a;
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: 0.6rem;
  } */
  }

  @media screen and (min-width: 1250px) {
    .vertical_card {
      width: 32%;
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: 16px 0 16px 0;
      display: flex;
      background-color: #09476d;
      flex-direction: column;
      height: 600px;
      /* margin-right: 40px; */
    }
    .vertical_card_chips {
      display: flex;
      flex-wrap: wrap;
      margin-top: 100px;
      
    }
      .chip {
        background-color: #09609a;
        color: white;
        border-radius: 4px;
        padding: 4px 8px;
        margin-right: 4px;
        margin-bottom: 4px;
        font-size: 0.6rem;
      }
  }

  @media (min-width: 768px) and (max-width: 1036px) {
    .vertical_card {
      width: 48%;
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: 16px 0 16px 0;
      display: flex;
      background-color: #09476d;
      flex-direction: column;
      height: 60vw;
      /* margin-right: 40px; */
  }
    .vertical_card_chips {
      display: flex;
      flex-wrap: wrap;
      margin-top: 8vw;
  }
    .chip {
      background-color: #09609a;
      color: white;
      border-radius: 4px;
      padding: 4px 8px;
      margin-right: 4px;
      margin-bottom: 4px;
      font-size: 1.2vw;
  }
  .vertical_card-description {
    color: white;
    font-size: 1.4vw;
    margin-bottom: 2vw;
}
  }

  @media (min-width: 1036px) and (max-width: 1728px) {
    /* .vertical_card {
      width: 32%;
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: 16px 0 16px 0;
      display: flex;
      background-color: #09476d;
      flex-direction: column;
      height: 38vw;
  } */


  }
