.detail_banner_image {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 6%;
    border-radius: 5px;
}
.detail {
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 34, 44);
    /* margin: 0 15% 0 15%; */
    width: 100%;
}
.detail_title {
    font-size: 25px;
    justify-content: center;
    color: aliceblue;
    width: 100%;
    display: flex;
    margin: 3% 0 3% 0;
    font-weight: 800;
}

.detail_content {
    color: aliceblue;
    font-size: larger;
    margin: 40px 0 40px 0;
}
.detail_content_para {
    margin: 25px 0 25px 0;
}

.detail_content_heading {
    font-size: 22px;
    font-weight: 500;
}
.detail_para {
    font-size: 16px;
    margin: 10px 0;
}
.detail_banner {
    height: 610px;
}
.detail_page_container {
    margin: 5% 15% 0 15%;
}