/* Card.css */
.card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px 0 16px 0;
  display: flex;
  background-color: #09476d;
  height: 30vw;
}
  .card-img {
    width: 40%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

  .card-title {
    font-size: 2vw;
    margin-bottom: 8px;
    color: white;
}
.card-description {
  color: white;
  font-size: 1vw;
}
  
.horizontal_card_chips {
  display: flex;
  flex-wrap: wrap;
  margin-top: 118px;
}
  
  .chip {
    background-color: #09609a;
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: 0.6rem;
  }
.image-container {
  position: relative;
  display: inline-block;
  min-width: 33%;
  height: 50vw;
  background-color: #fff;
}
  /* Styling for the image */
  .image-container img {
    width: 100%;
    height: -webkit-fill-available;
    transition: filter 0.5s ease; /* Adding a smooth transition for the blur effect */
  }

  /* Styling for the text overlay */
  .image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #2f2727;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.5s ease;
}

  /* Hover effect - applying blur and showing text */
  .image-container:hover img {
    filter: blur(5px); /* Adjust the blur amount as needed */
  }

  .image-container:hover .image-overlay {
    opacity: 1;
    cursor: pointer;
  }

@media screen and (max-width: 480px) {
.card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  min-width: 35vh;
  margin-top: 20vw;
}
.card-description {
  color: white;
  font-size: 3vw;
}
.card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px 0 16px 0;
  display: flex;
  flex-direction: column;
  background-color: #09476d;
  height: max-content;
}
.card-title {
  font-size: 4vw;
  margin-bottom: 8px;
  color: white;
}
.horizontal_card_chips {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15vw;
}
}
@media (min-width: 481px) and (max-width: 768px) {
  .card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    min-width: 35vh;
    margin-top: 20vw;
  }
  .card-description {
    color: white;
    font-size: 3vw;
  }
  .card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px 0 16px 0;
    display: flex;
    flex-direction: column;
    background-color: #09476d;
    height: max-content;
  }
  .card-title {
    font-size: 4vw;
    margin-bottom: 8px;
    color: white;
  }
  .horizontal_card_chips {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15vw;
}
  }

  @media screen and (min-width: 768px) {
    .card {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: 16px 0 16px 0;
      display: flex;
      background-color: #09476d;
      height: 250px;
  }
  .card-description {
    color: white;
    font-size: 17px;
}
.card-description {
  color: white;
  font-size: 15px;
  font-weight: 200;
}
  }

@media screen and (min-width: 768px) {
  .card-title {
    font-size: 20px;
    margin-bottom: 8px;
    color: white;
}
.image-container {
  position: relative;
  display: inline-block;
  min-width: 33%;
  height: auto;
  background-color: #fff;
}
}