.technologies_wrapper{
    display: flex;
    flex-wrap: wrap;
}

.technology_icon {
    height: 100px;
    margin: 10px;
    width: 100px;
    border-radius: 50%;
    background: #fff;
    padding: 15px;
    border: 1px solid #fff;
}
.technology_section h1 {
    color: #60b2df;
}